  <!-- Header of Navabar -->
    
  <div class="nav" >
    <header>
        <nav>
            <ul>
              <!-- <li><fa-icon [icon]="wolf"></fa-icon>&nbsp;&nbsp;</li> -->
                <li class="home1" routerLink="/home" inputmode="button" 
                 >Home &nbsp;&nbsp;</li>
                <li class="home1" routerLink="/contact">Contact-Us &nbsp;&nbsp;</li>
                 
                   &nbsp;
                    <li class="home1">Map</li>
                    <li class="him">"WELCOME TO THE HIMACHAL TOURIST PLACE'S" &nbsp;&nbsp;&nbsp;</li>
                   
                
                <!-- Login & register  -->
              
                <li class="reg" routerLink="/signup">Register &nbsp;&nbsp;</li>
                <li class="reg" routerLink="/login">Login&nbsp; </li>
                
                <li class="search" style="position: absolute;margin-left: 1050px;"> <input  type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0 search" type="submit">Search</button></li>
            </ul>
        </nav>
    </header>
</div>