<!-- Footer of this page -->
<footer class="footer text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><fa-icon [icon]="facebook"></fa-icon>
        </a>
  
      
        <!-- Google -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><fa-icon [icon]="google"></fa-icon>
        </a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><fa-icon [icon]="instagram"></fa-icon>
        </a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><fa-icon [icon]="linkdin"></fa-icon>
        </a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><fa-icon [icon]="github"></fa-icon>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <h2 class="quote">"क्या रखा है शहर की भिड़ भाड़ में, कभी आकार तो देखो पहाड़ में |"</h2><br>
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong style="text-shadow:2px 2px purple;"><h3>Sign up for our Browser</h3></strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" placeholder="E-mail" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4" >
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Fotter links -->
      <section class="links">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">TOURISM INFORMATION</h5>
  
            <ul class="link1">
              <li>
                <a href="https://eservices.himachaltourism.gov.in/" class="text-white">HP Tourism eServices</a>
              </li>
              <li>
                <a href="https://himachaltourism.gov.in/counter/" class="text-white">List of Registered Hotels/Travel agency..</a>
              </li>
              <li>
                <a href="https://himachaltourism.gov.in/wp-content/uploads/2023/03/Tourist-Statistics.pdf" class="text-white">Tourist-Statistics</a>
              </li>
              <li>
                <a href="https://himachaltourism.gov.in/news-latest-updates/" class="text-white">News & latest updates</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">GALLERY</h5>
  
            <ul class="link1">
              <li>
                <a href="https://himachaltourism.gov.in/videos/" class="text-white">Video Gallery</a>
              </li>
              <li>
                <a href="https://himachaltourism.gov.in/gallery/" class="text-white">Image Gallery</a>
              </li>
              <li>
                <a href="https://play.google.com/store/apps/details?id=nic.hp.chalochamba&pli=1" class="text-white">Chalo Chamba App</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">DOWNLOADS</h5>
  
            <ul class="link1">
              <li>
                <a href="https://himachaltourism.gov.in/wp-content/uploads/2023/05/SIA_Final-Report_Kangra_Airport_English.pdf" class="text-white">Sia_Final-Report_Kangra-Airport-English</a>
              </li>
              <li>
                <a href="https://himachaltourism.gov.in/wp-content/uploads/2023/05/SIA_Report_Kangra_Airport_Hindi.pdf" class="text-white">Sia_Final-Report_Kangra-Airport-Hindi</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">TOURIST RELATED</h5>
  
            <ul class="link1">
              <li>
                <a href="https://www.pawanhans.co.in/" class="text-white">Book-Udaan|Helicopter Online</a>
              </li>
              <li>
                <a href="https://himachaltourism.gov.in/travel-safety-tips/" class="text-white">Travel-safety-tips</a>
              </li>
              <li>
                <a href="https://himachaltourism.gov.in/dos-and-donts/" class="text-white">Do's & Donts</a>
              </li>
              <li>
                <a href="https://himachaltourism.gov.in/Grievances%20about%20Adventure%20Activities%20in%20Himachal/" class="text-white">Grivence about adventure activity in HP</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">ABHISHEK KUMAR</a>
    </div>
    <!-- Copyright -->
  </footer>