.container{
    height: 350px;
    width: 100%;
    border: 2px solid black;
}
@keyframes example {
    0%   {background-color: orangered;}
    25%  {background-color: yellow;}
    50%  {background-color: blueviolet;}
    100% {background-color: palevioletred;}
  }
  
  /* The element to apply the animation to */
  .container{
    width: 100%;
    height: 350px;
   
    background-color: orangered;
   background-size:cover ;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: 100;
  }