<div class="contact">
    <img src="https://static.toiimg.com/thumb/msid-82825970,width-748,height-499,resizemode=4,imgsize-1193830/.jpg" alt="contact-page" height="450px" width="100%"><br>
    <fa-icon [icon]="wolf" style="margin-left: 600px;font-size: 10rem; color:green;"></fa-icon>
</div><br>

<div class="container">
<div class="mail"  >
   <p><fa-icon [icon]="phone" style="font-size: 5rem;margin-left: 400px; color: green;"></fa-icon></p>
   <h1 style="position: absolute;margin-top: -70px;margin-left: 500px; color:blue"> : +91 7876068374</h1><br><br><br><br>
   <p><fa-icon [icon]="mail" style="font-size: 5rem;margin-left: 400px; color: green;"></fa-icon></p>
   <h1 style="position: absolute;margin-top: -65px;margin-left: 500px;color: blue;">: Abhishek7890rana@gmail.com</h1>
</div>
</div><br><br><br><br><br>
