<!-- floura & Fauna -->
<div class="floura">
    <h1 style="text-decoration: underline 5px orangered; position: absolute;top:450px;left:1000px;color:white;text-shadow: 2px 2px red;;">Fair & Festivals</h1>
    
</div>
<!-- flora1 -->
<h1 style="text-decoration: underline 5px orangered; position: absolute;top:620px;left:450px;color:white;text-shadow: 2px 2px red;background-color:goldenrod;">Kullu Dussehra</h1><br><br>
<div class="nexthim1" style="height:350px;width:100%; background-color: yellowgreen;margin-top: 20px;" >
   

    <img src="../assets/images/dushera.jpg"alt="mounatain chain" height="350px">
<p style="position: absolute;top:720px;left:720px;font-size: x-large;"> Kullu Dussehra is the most famous festival of Himachal Pradesh which is celebrated in the month of October with great enthusiasm and fervor. Celebrated in Dhaulpur Maidan, the entire Kullu valley reverberates in the festive spirit for an entire week as the festivity of Dussehra spans here up to 7 long days. </p>
</div>

<!-- flora2 -->
<h1 style="text-decoration: underline 5px orangered; position: absolute;top:1040px;left:450px;color:white;text-shadow: 2px 2px red;background-color:goldenrod;">Losar Festival</h1><br><br><br>
<div class="nexthim1" style="width:100%;height: 280px; background-color: black;" >
    <img src="../assets/images/losar.jpg" alt="shelter"  height="280px" width="450px" style="position:absolute;left:900px; background-color: black;">
   <p style="position:absolute;top:1140px; font-size: x-large;width:900px;height:280px;color: white;">Losar is one of the major Tibetan festivals of Himachal Pradesh that heralds the new year and harvesting crops. It takes place between late January and February as per the local Tibetan calendar. In the pre-Buddhist era, it was known as the Agrarian Festival and was celebrated when the apricots blossomed on the trees. According to religious beliefs, the Losar festival brings fortune and wards off evil from our lives.</p> 
    
    </div>
    <!-- flora 3 -->
    <h1 style="text-decoration: underline 5px orangered; position: absolute;top:1390px;left:450px;color:white;text-shadow: 2px 2px red;background-color:goldenrod;">Mandi Shivratri Fair</h1><br><br>
<div class="nexthim1" style="height:350px;width:100%; background-color: rgb(0, 140, 255);margin-top: 20px;" >
   
  
    <img src="../assets/images/shivratri.jpg"alt="mounatain chain" height="350px">
<p style="position: absolute;top:1520px;left:670px;font-size: larger;"> Typically celebrated on the 13th night of Krishna Paksha, which is the onset of Shivaratri, Mandi Shivaratri Mela is held for a period of seven days in Himachal Pradesh. This fair is all about boasting the rich deity culture and enjoying the religious fervor to the fullest. It transforms the town of Mandi into a grand traditional extravaganza, and that’s why it holds a special place in the people’s hearts. Starting from the day of Shivaratri, more than 200 deities of the Mandi district assemble during this festival.</p>
</div>