

/*container  */
/* .container{
    background-image: url("https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg?size=626&ext=jpg");
    margin-left: 420px;
    margin-top:40px ;
    border: 0.1cm solid blanchedalmond;
    padding-left: 125px;
    width: 450px;
    
    
    
} */

/* .sign{
    
    margin-top: 30px;
    margin-left: 50px;
    border: 0.10em solid  blue;
    
    width: 120px;
    height: 35px;
    background-color: blue;
    font-size: medium;
    padding-left: 18px;
    font-size: x-large;
}
input:hover{
    background-color: rgb(30, 255, 0);
    transform: scale(1.1);
} */
